body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  color: black;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}


.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
}


.product-details {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}


.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}


.size-select,
.quantity-input {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 75px;
  height: 31;
  text-align: center;
}


.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px ;
  margin-left: 45px;
}

.quantity-controls button {
  background-color: rgb(138, 138, 168);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.quantity-controls button:hover {
  background-color: rgb(138, 138, 168);
}


.btn1 {
  background-color: rgb(138, 138, 168);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn1:hover {
  background-color: rgb(138, 138, 168);
}


.product-details p {
  font-weight: bold;
  color: #333;
}


@media (max-width: 992px) {
  .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 767px) {
  .products-wrapper {
    grid-template-columns: 1fr;
  }
}
